<h1 class="ui center aligned header">Boards</h1>
<div class="ui four column doubling stackable grid container">
  <div class="column">
    <p></p>
    <p></p>
  </div>
  <div class="column">
    <p></p>
    <p></p>
  </div>
  <div class="column">
    <p></p>
    <p></p>
  </div>
  <div class="column">
    <p></p>
    <p></p>
  </div>
</div>
